.home-header-parent {
  display: flex;
  align-items: center !important;
  justify-content: center;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
}


.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey);
  height: calc(var(--unit) * 3.5);
  padding: 0px calc(var(--unit));
  // overflow-x: hidden;


  .logo2, .logo{
    width: 150px;
    height: 100%;

    img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  // transition: 300ms ease;
  // overflow: hidden;
}
}
}

.burger-menu {
  display: none;
  color: var(--accent);
}


.header-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--unit) / 3);
}

.header-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--unit) / 1.7) calc(var(--unit));
  position: relative;
  text-decoration: none;
  color: inherit;
}

// .header-links a:not(.not-select)::after,
// .products-menu:not(.not-select)::after {
//   content: "";
//   display: block;
//   background: var(--accent2);
//   height: 3px;
//   width: 0;
//   position: absolute;
//   top: -12px;
//   left: 50%;
//   transition: width 0.3s, left 0.3s;
// }

// .header-links a:not(.not-select):hover::after,
// .products-menu:not(.not-select):hover::after {
//   width: 100%;
//   left: 0;
// }

.home-header-parent {
  .mobile-navigation {
    width: 100%;
    height: 100vh;
    background: url("../../../../public/assets/testimonial_background.jpg");
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background-position: center center !important;
    .exit-button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
      height: 50px;
      width: 50px;
      right: 0;
      position: absolute;
      top: 0;
    }
    .mobile-navigation-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .mobile-naviation-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: calc(var(--unit)) 0px;
        gap: calc(var(--unit));
        // background: red;

        a {
          color: var(--white);
          // background: green;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: calc(var(--unit) * 1.6);
          padding: 0px calc(var(--unit) * 3);
        }
      }
      .mobile-logo {
        padding: calc(var(--unit)) 0px;
      }

      .mobile-navigation-footer {
        .social-icons {
          display: flex;
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: var(--unit);
          a {
            color: var(--white);
            font-size: calc(var(--unit) * 1.7);
            padding: calc(var(--unit) / 2);
            // background: var(--white);
            border-radius: calc(var(--unit) / 4);
          }
        }
        .copyright-section {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: calc(var(--unit) / 3);
          padding: calc(var(--unit) / 3) 0px;
          span {
            color: white;
            display: flex;
            gap: calc(var(--unit) / 3);
          }
        }
      }
    }
  }
}

@keyframes underline-expand {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}

.header-links a {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.header-links a:nth-child(1) {
  transition-delay: 0.5s;
}

.header-links a:nth-child(2) {
  transition-delay: 0.6s;
}

// .header-links a:nth-child(3) {
//   transition-delay: 0.7s;
// }

.header-links a:nth-child(4) {
  transition-delay: 0.8s;
}

.header-links a:nth-child(5) {
  transition-delay: 0.9s;
}

.header-links.fade-in a {
  opacity: 1;
  transform: translateY(0);
}
.responsive-logo {
  display: none;
}

.nav-link {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.nav-link-animate {
  transition-delay: 0.7s;
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1150px) {
  .header-links {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .header-btn {
    display: none;
  }
  .responsive-logo {
    display: block;
  }
  .reponsive-logo2 {
    display: none;
  }
  .animated-logo {
    display: none;
  }
}

.products-dropdown {
  position: relative;
  .products-menu {
    display: flex;
    gap: calc(var(--unit) / 4);
    padding: calc(var(--unit) / 1.7) calc(var(--unit));
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &:hover .products-submenu {
    display: flex !important;
  }

  &:hover {
    .products-menu {
      span {
        transform: rotate(180deg);
      }
    }
  }

  .products-submenu {
    display: none !important;
    position: absolute;
    width: 180px;
    flex-direction: column;
    gap: calc(var(--unit) / 4);
    padding: calc(var(--unit) * 0.4) 0px;
   

    .products-submenu-inner {
      border: 1px solid #dadada;

      .menu-item {
        height: fit-content !important;
        background: white;
        &:hover {
          background: #dfdfdf;
        }
      }
    }
  }
}

// mobile

.mobile-products {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  .mobile-products-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: calc(var(--unit) * 1.6) !important;
    padding-left: 20px;
    span {
      font-size: calc(var(--unit) * 2) !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .mobile-products-submenu-active {
    height: auto !important;
    padding: calc(var(--unit) * 1.1) 0px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: calc(var(--unit) / 2);
    width: fit-content !important;
    font-size: 10px !important;
  }

  .mobile-products-submenu {
    height: 0px;
    display: flex !important;
    flex-direction: column;
    gap: calc(var(--unit) / 2);
    width: fit-content !important;
    font-size: calc(var(--unit)) !important;
    padding: 0px !important;
    overflow: hidden !important;
  }
}

.mobile-menu-item {
  font-size: calc(var(--unit) * 1.1) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  width: fit-content !important;
}


.logo-resize
{
  // border: 1px solid red;
  // scale: 0.1;
  width: 130px;
  
}