.founders-card {
    display: flex;
    // width: 370px;
    flex-direction: column;
    transition: var(--quick2);
    overflow: hidden;
    // padding: 10px 0px;
    background-color: white;
    .card-img {
        width: 100%;
        height: 250px;
        // background: url('../../assets/cardimg.jpg');
        background-size: contain !important;
    

    }

  

    .card-bottom {
      
        position: relative;
        padding: 10px 20px 30px 20px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        text-align: center;
        width: 380px;
        // margin: -30px 20px 0px 20px;
        transition: var(--quick2);
        position: relative;
        // border-bottom: 20px solid var(--accent);
        // border-left: 20px solid var(--accent);
        overflow: hidden;
        z-index: 10;

//   .bottom-overlay{
//         height: 250px;
//         width: 320px;
//         background-color: red;
//         position: absolute;
//         margin-bottom: -50px;
//         margin-left: -100px;
//         z-index: -2;
//     }
        .card-overlay {
            background: var(--accent2);
            height: 100%;
            width: 100%;
            z-index: 3;
            position: absolute;
            transition: var(--quick2);
            bottom: 0;
            left: 0;
        }



        .card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 4;
            padding: 10px;

            .card-headding {
                font-size: 22px;
                // padding-bottom: 3px;
                font-weight: 600;
                color: var(--white);
                text-align: center;
            }

            .founder-designation {
                font-size: 18px;
                color: var(--accent);
                font-weight: 600;
                padding-bottom: 10px;
            }

            .card-p {
                font-size: 16px;
                line-height: 24px;
                color: var(--white);
            }
        }

        &:hover {
            box-shadow: 0px 0px 10px #00000036;

            .card-overlay {
                bottom: -100%;
            }

            .card-icon-box {
                background: var(--accent);

                .card-icon {
                    color: var(--white);
                }
            }

            .card-content {
                color: var(--black) !important;

                .card-headding,
                .founder-designation,
                .card-p {
                    color: var(--black) !important;
                }
            }
        }
    }

}


@media only screen and (max-width:500px) {

    .founders-card {
        // margin: auto 10px;
        width: 100%;

        .card-content {
            .card-headding {
                font-size: 20px !important;
            }

            .founder-designation {
                font-size: 16px !important;

            }
        }
    }
}