.testimonial-parent {
  background-image: linear-gradient(#0c0c0c13, #0c0c0c13),
    url("../../../../public/assets/testimonial_background.jpg");
  width: 100%;
  padding: calc(var(--unit) * 7) 0px;

  .testimonial-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .section-title {
      padding: calc(var(--unit) * 2) 0px;
    }

    // swiper

    .swiper {
      width: 100%;
      height: 100%;
      background: transparent;
    }

    .testi-parent {
      .testi-swiper {
        border-right: 1px solid #3f3f3f;
      }
    }

    .card-swiper {
      padding: 0px 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit) / 2);

      .quotes-icon1 {
        font-size: calc(var(--unit) * 2);
        color: var(--accent2);
      }

      .quotes-icon2 {
        display: flex;
        align-items: start;
        justify-content: end;
        font-size: calc(var(--unit) * 2);
        color: var(--accent2);
      }
    }

    .swiper1 {
      height: fit-content;
      display: flex;
      justify-content: space-between;
      // background: red;
      min-height: 300px;
      align-items: stretch;

      .review-text {
        // text-align: justify;
      }
      .client-info {
        display: flex;
        // gap: var(--unit);
        align-items: center;
        justify-content: space-between;
        // padding: calc(var(--unit)) 0px;
        height: 100%;

        .img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 5px solid #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          Image {
            object-fit: cover !important;
            object-position: center center !important;
            width: 100%;
            height: 100%;
          }
        }

        .text-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          text-align: right;

          span {
            width: 100%;
          }

          p {
            width: 100%;
          }
        }
      }
    }
  }
}

body
  > main
  > div.parent.testimonial-parent.bg-cover
  > div
  > div.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper.testi-parent
  > div.swiper-wrapper
  > div:nth-child(3) {
  border: none;
}

@media only screen and (max-width: 1000px) {
  .testimonial-parent {
    padding: 80px 0px !important;

    .swiper-pagination-bullet {
      background: gray;
      opacity: 1 !important;
      width: 50px;
      height: 3px;
      border-radius: 0px !important;

      &.swiper-pagination-bullet-active {
        background: var(--accent2) !important;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .testimonial-cont {
    width: 70% !important;
  }
}

@media only screen and (max-width: 500px) {
  .testimonial-cont {
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .testi-parent {
    .swiper-pagination-horizontal {
      // background: red !important;
      margin-top: 80px !important;
      position: absolute;
      bottom: -7px;
    }
  }
}
