@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #005fb9;
  --accent2: #4e9b3e;
  --unit: 16px;
  --white: #ffff;
  --black: #000000;
  --grey: rgba(128, 128, 128, 0.26);
  --trans: all 300ms ease-in-out;
  --trans1: all 3s ease-in-out;
  --quick2: 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  --quick: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --light-grey: #f5f5f5;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  // border:1px solid red;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  cursor: none !important;
}
body {
  //   overflow-x: hidden;
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  cursor: none !important;
}

::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  background: var(--accent2) !important; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent2) !important; /* Thumb color */
  border-radius: 10px !important;
}

/* Firefox Scrollbar Styles */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent2) var(--accent) !important;
}
/* Custom Text Selection Styles */
::selection {
  background-color: var(--accent); /* Background color when text is selected */
  color: #fff; /* Text color when selected */
}

/* For Firefox */
::-moz-selection {
  background-color: var(--accent); /* Background color when text is selected */
  color: #fff; /* Text color when selected */
}

p {
  font-family: "Rubik", sans-serif;
  line-height: 24px;
  letter-spacing: 0.7px;
  word-spacing: 1px;
  font-size: calc(var(--unit) * 1.1) !important;
  opacity: 0.8;
}

.parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 1200px;
  }
}

a{
  text-decoration: none;
  color: inherit;
}

.bg-cover {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.bg-contain {
  background-position: center center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.title {
  font-size: calc(var(--unit) * 2.8);
  font-weight: 600;
  span {
    color: var(--accent2);
    font-weight: 600;
    // font-family: "Playfair Display", serif;
  }
}
.title2 {
  font-size: calc(var(--unit) * 2) !important;
  font-weight: 600 !important;
  position: relative;
  display: flex;
  line-height: 100%;
  align-items: flex-end;
  justify-content: center;
  padding: 5px 0px;
  gap: 2px;
  flex-wrap: wrap;
  span {
    color: var(--accent2) !important;
    font-weight: 600 !important;
    // font-family: "Playfair Display", serif;
  }
  .underline {
    width: 35px;
    border-bottom: 2px solid var(--accent2);
  }
}
.title3 {
  font-size: calc(var(--unit) * 1.3) !important;
  font-weight: 600 !important;
  line-height: 120%;
  span {
    color: var(--accent2) !important;
    font-weight: 600 !important;
    // font-family: "Playfair Display", serif;
  }
}

.desc {
  font-size: calc(var(--unit) * 1.2);
  line-height: 120%;
}
.desc2 {
  font-size: calc(var(--unit) * 0.8);
  line-height: 150%;
  font-weight: 300;
}

@media (max-width: 1150px) {
  .title {
    font-size: calc(var(--unit) * 2) !important;
  }
  .title2 {
    font-size: calc(var(--unit) * 1.6) !important;
  }
  .title3 {
    font-size: calc(var(--unit) * 1.2) !important;
  }
  p {
    font-size: calc(var(--unit)) !important;
  }
}
@media (max-width: 800px) {
  .title {
    font-size: calc(var(--unit) * 1.8) !important;
  }
  .title2 {
    font-size: calc(var(--unit) * 1.4) !important;
  }
  .title3 {
    font-size: calc(var(--unit) * 1) !important;
  }
  p {
    font-size: calc(var(--unit) * 0.8) !important;
  }
}
@media (max-width: 600px) {
  .title {
  }
  .title2 {
  }
  .title3 {
  }
}

// buttons
.cta-btn {
  position: relative;
  background: var(--accent2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--unit) / 1.7) calc(var(--unit));
  color: var(--white);
  overflow: hidden;
  font-size: calc(var(--unit));
}
.cta-btn-rev {
  background: var(--white) !important;
  color: #000000;
}
.cta-btn p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  gap: calc(var(--unit) / 3);
}

.cta-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--accent);
  transition: left 0.3s;
}
.cta-btn-rev::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--accent2) !important;
  transition: left 0.3s;
}

.cta-btn:hover::after {
  left: 0;
}

.cta-btn:hover {
  color: var(--white);
}

.gap {
  width: 3px;
}

.page-transition {
  opacity: 0;
  background: transparent;
  transform: translateY(40px);
  width: 100%;
  height: 100vh;
  filter: blur(12px);
}

/* Custom Scrollbar Styles */

.left-align {
  text-align: left !important;
}

.custom-cursor {
  width: 24px;
  height: 24px;
  background-image: url("/assets/Icon/Arrow_1.png");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  .custom-cursor {
    display: none !important;
  }
}
